@import url('base.css');
/* header{
	width: 100%;
	height: 40px;
	background: #000000；
}
main{
	width: 1226px;
	height: 100%;
	background: #000;
	margin: 0 auto;

}
.head-left{
	width: ;
	height: ;
	background: ;
	float: left;
}
.head-left li a{
	font-size: ;
	padding-left: 8px;
	padding-right: 9px;
	border-right: 1px solid #;

}
.head-left li a:hover{
	color: #ffffff;
}
.head-left .first{
	padding-left: 0px;
}
.head-left .last{

} */
/* div{
	width: ;
	height: ;
	background:rgba(0,0,0,0.5) ;
透明度 0~1之间的小数，0透明1不透明；
} */
/* body{
	background: #f5f5f5;
} */
header{
	width: 100%;
	height: 40px;
	background: #333333;
}
header .main{
	width: 1226px;
	height: 100%;
	background: #333333;
	margin: 0 auto;
}
.head-left{
	width: 614px;
	height: 100%;
	background: #333333;
	float: left;
}
.head-left li a{
	line-height: 12px;
	margin-top: 14px;
	font-size: 12px;
	float: left;
	padding-left: 8px;
	padding-right: 9px;
	border-right: 1px solid #424242;
	color: #b0b0b0;
}
.head-left li a:hover{
	color:#ff6700 ;
}
.head-left .first{
	padding-left:  0px;
}
.head-left .last{
	border-right: none;
}
.head-right{
	width: 280px;
	height: 100%;
	background: #333333;
	float: right;	
}
.head-right li a{
	line-height: 12px;
	margin-top: 14px;
	font-size: 12px;
	float: left;
	padding-left: 7px;
	padding-right: 7px;
	border-right: 1px solid #424242;
	color: #b0b0b0;
}
.head-right li a:hover{
	color: #ffffff;
}
.head-right .right-last{
	padding-right: 0px;
}
nav{
	width: 100%;
	height: 55px;
	background: #ffffff;
	margin-top: 22px;
}
nav .main{
	width: 1226px;
	height: 100%;
	background: #ffffff;
	margin: 0 auto;
}
.nav-left{
	width: 55px;
	height: 55px;
	background:#ff6700;
	float: left;
}
.nav-center{
	width: 634px;
	height: 100%;
	background: #ffffff;
	float: left;
	margin-left: 189px;

}
.nav-center li a{
	/* line-height: 15px;
	margin-top: 14px; */
	font-size: 15px;
	float: left;
	margin-right: 20px;
	margin-top: 21px;
	color: #333333;
}
.nav-center li a:hover{
	color: #ff6700;
}
.nav-right{
	width: 294px;
	height: 48px;
	background: #ffffff;
	float: right;
	margin-top: 3px;
	border: 1px solid #e0e0e0;
}
.nav-right .sousuo{
	width: 50px;
	height: 48px;
	float: right;
	background: url('../img/images/小米官网_33.png') no-repeat center center;
    border-left: 1px solid #e0e0e0;
}
.nav-right .sousuo:hover{
  background: url('../img/images/黄色搜索_03.png') no-repeat center center;
}
.tehui{
	width: 97px;
	height: 18px;
	background: #eeeeee;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 12px;
	background: url('../img/images/特惠1.png') no-repeat center center;
}
.tehui:hover{
	background: url('../img/images/特惠2.png') no-repeat center center;

}
.dianshi{
	width: 60px;
	height: 18px;
	background: #eeeeee;
	float: right;
	margin-top: 15px;
	margin-right: 10px;
	font-size: 12px;
	background: url('../img/images/电视1.png') no-repeat center center;
}
.dianshi:hover{
	background: url('../img/images/电视2.png') no-repeat center center;
}
/* 侧导航 */
aside{
	width: 100%;
	height: 460px;
	background:  #ffffff;
	margin-top: 23px;
}
aside .main{
	width: 1226px;
	height: 100%;
	background: yellow;
	margin: 0 auto;
	position: relative;
}
.cekuang a span{
	color: #000;
}
.item{
	width: 852px;
	height: 100%;
	background: #fff;
	position: absolute;
	top: 0;
	left: 200px;
	display: none;
}
.banner-box{
	width: 1226px;
	height: 100%;
	background:red;
	position: relative;
	overflow: hidden;
}
.banner-box li{
	width: 100%;
	height: 100%;
	background: blue;
	position: absolute;
	/* display: none; */
	left:1226px;

}
.banner-box li:first-child{
	left: 0;
}
.banner-box li img{
	width: 100%;
	height: 100%;
}
.jiantou-left{
	width: 41px;
	height: 69px;
	background: rgba(15, 16, 20, 0);
	position: absolute;
	left: 234px;
	top:0px;bottom:0px;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 50px;
    text-align: center;
    line-height: 69px; 
    color: #9d9ea1; 
}
.jiantou-left:hover{
	background: rgba(15, 16, 20, 0.5);
	color: #ffffff;
}
.jiantou-right{
	width: 41px;
	height: 69px;
	background: rgba(0, 0, 0, 0);
	position: absolute;
	right: 0px;
	top:0px;bottom:0px;
    margin-top:auto;
    margin-bottom:auto;
    font-size: 50px;
    text-align: center;
    line-height: 69px; 
    color: #9d9ea1; 
}
.jiantou-right:hover{
	background: rgba(15, 16, 20, 0.5);
	color: #ffffff;
}
/* 圆点开始 */
.yuan-list{
 	width: 120px;
 	height: 10px;
 	/* background: red; */
 	position: absolute;
 	float: right; 
    bottom: 25px;
    right: 35px;
 }
.yuan-list ul{
 	width: 100%;
 	height: 100%;
 	/* background: yellow; */
 }
 .yuan-kuang li{
 	width: 10px;
 	height: 10px;
 	background: rgba(23, 23, 28, 0.5);
 	border: 2px solid #58585c;
 	float:left; 
 	border-radius: 50%;
 	margin-right: 10px;
 }
 .yuan-kuang li:hover{
    background: rgba(225, 225, 225, 0.5);
 }
 .yuan-kuang .last-yuan{
 	margin-right: 0px;
 }

.side-left{
	width: 234px;
	height: 100%;
	background: rgba(15, 16, 20, 0.5);
    position: absolute;
    top: 0px;
}
.cekuang{
	width: 100%;
	height: 460px;
}
.cekuang li{
	width: 100%;
	height: 42px;
	
}
.cekuang-first{

	margin-top: 20px;
}
.cekuang span{
	line-height: 42px;
	float: right;
	margin-right: 23px;
}
.cekuang li p{
	line-height: 42px;
	float: left;
	margin-left: 30px;
	color: #ffffff;
}
.cekuang li:hover{
	background: #ff6700;
}
.silan{
	width: 1226px;
	height: 170px;
	background:  #ffffff;
	margin: 0 auto;
	margin-top: 14px;
}
.silan div{
	width: 316px;
	height: 170px;
	background: blue;
    float: right;
    margin-left: 15px ;
}
.diyilan img{
	width: 100%;
	height: 100%；
}
.dierlan img{
	width: 100%;
	height: 100%；
}
.silan .dierlan{
	margin-left: 14px ;

}
.silan .disanlan{
	width: 234px;
	margin-left: 0px ;
	background: #5f5750;
}
/* .disanlan div{
	width: 1px;
	height: 64px;
	background: #665e57;
	float: left;
	margin-left: 77px;
	margin-top: 10px;
} */
.disanlan .sanshang{	
	width: 100%;
	height: 85px; 
	background: #5f5750;
}
.sanshang .fangge,.sanshang .fangge2,.sanshang .fangge-last{
	width: 70px;
	height: 64px;
	float: left;
	margin-left:  4px;
	margin-right: 4px;
	margin-top: 10px;
}
.sanshang .fangge{
	background: url('../img/6格子.png') no-repeat -4px -10px;
}
.sanshang .fangge:hover{
	background: url('../img/61.png') no-repeat -4px -10px;

}
.sanshang .fangge2{
	background: url('../img/6格子.png') no-repeat -83px -10px;

}
.sanshang .fangge2:hover{
	background: url('../img/62.png') no-repeat -83px -10px;

}
.sanshang .fangge-last{
	background: url('../img/6格子.png') no-repeat -162px -10px;
	margin-right: 0px;
}
.sanshang .fangge-last:hover{
	background: url('../img/63.png') no-repeat -162px -10px;

}
.sanshang .xiaoshu{
	width: 1px;
	height: 64px;
	background: #665e57;
	float: left;
	margin-top: 10px;
	margin-left: 0;
}
.disanlan .sanzhong{
	width: 234px;
	height: 1px;
	background: #5f5750;
	margin-top: 0px;
}
 .sanzhong div,.sanzhong .sanzhong1{
	width: 70px;
	height: 1px;
	background: #665e57;
	float: left;
	margin-left: 9px;
}
.sanzhong .sanzhong1{
	margin-left: 4px;
}
.disanlan .sanxia{
	width: 100%;
	height: 84px;
	background: #5f5750;
}
.sanxia .fangge,.sanxia .fangge1,.sanxia .fangge-last{
	width: 70px;
	height: 64px;
	background: url('../img/6格子.png') no-repeat -4px -96px;

	float: left;
	margin-left:  4px;
	margin-right: 4px;
	margin-top: 10px;
}
.sanxia .fangge:hover{
	background: url('../img/64.png') no-repeat -4px -96px;

}
.sanxia .fangge1{
	background: url('../img/6格子.png') no-repeat -83px -96px;
}
.sanxia .fangge1:hover{
	background: url('../img/65.png') no-repeat -83px -96px;

}
.sanxia .fangge-last{
	background: url('../img/6格子.png') no-repeat -162px -96px;
	margin-right: 0px;
}
.sanxia .fangge-last:hover{
	background: url('../img/66.png') no-repeat -162px -96px;

}
.sanxia .xiaoshu{
	width: 1px;
	height: 64px;
	background: #665e57;
	float: left;
	margin-top: 10px;
	margin-left: 0;
}
.mingxingqu{
	width: 1226px;
	height: 438px;
	margin:0 auto;
	margin-top: 30px;
}
.mingxingxinpin{
	width: 1226px;
	height: 58px;
	font-size: 22px;
	color: #333;
	line-height: 58px;
	font-weight: bold;
}
.xiaomimingxingdanpin{
	float: left;
}
.xinpinzuoyou{
	float: right;
	width: 72px;
	height: 24px;
	margin-top: 12px;

}
.xinpinzuo{
	width: 36px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	float: left;
	color: #e0e0e0;
	border: 1px solid #e0e0e0;
	cursor: pointer;
}
.you{
	color: #b0b0b0;
	border-left: : 0px;
}
.danpin{
	width: 1226px;
	height: 340px;
	overflow: hidden;
	position: relative;
}
.danpin ul{
	width: 4960px;
	overflow: hidden;
	position: absolute;
	left: 0;
	top: 0;
	transition: all ease  1s;
}
.danpin ul li{
	width: 5%;
	overflow: hidden;
	float: left;
}
.dan1{
	width: 234px;
	height: 340px;
	border-top: 1px solid #ffac13;
	padding-top: 39px;
	margin-right: 14px;
	background: #fafafa;
	
}
.dan11{
	width: 160px;
	height: 160px;
	margin: 0 auto;
}
.dan111{
	width: 234px;
	margin-top: 30px;
	font-size: 14px;
	color: #212121;
	text-align: center;
}
.dan1111{
	width: 234px;
	margin-top: 10px;
	font-size: 12px;
	color: #b0b0b0;
	text-align: center;
}
.dan11111{
	width: 234px;
	margin-top: 15px;
	font-size: 14px;
	color: #ff6709;
	text-align: center;
}
.dan2{
	border-top: 1px solid #83c44e;
}
.dan3{
	border-top: 1px solid #2196f3;
}
.dan4{
	border-top: 1px solid #e53935;
}
.dan5{
	width: 234px;
	margin-right: 0px;
	border-top: 1px solid #00c0a5;
}
main{
	width: 100%;
	padding-bottom: 60px;
	background: #f5f5f5;
}
.jiadiank,.zhinengk,.dapeik,.peijiank,.zhoubiank,.tuijiank,.repingk,.neirongk,.shipink{
	width: 1226px;
	margin: 0 auto;
	overflow:hidden;
}
.jiadianzi{
	width: 1226px;
	height: 58px;
	margin: 0 auto;
	margin-top: 60px;
	color: #333;
	line-height: 58px;
}
.jiadianzuo{
	font-size: 22px;
	float: left;
}
.jiadianyou{
	font-size: 16px;
	float: right;
}
.jiadianyouzi{
	float: left;
	height: 32px;
	margin:8px 0 0 30px;
	line-height: 32px;
}
.jiadianyouzi1{
	border-bottom: 2px solid #ff6700;
	color: #ff6700;
}
.jiadiantu{
	width: 1226px;
	margin: 0 auto;
}
.jiadiantuzuo{
	width: 234px;
	height: 614px;
	float: left;
}
.jiadiantuyou{
	width: 992px;
	height: 614px;
	float: left;
	position: relative;
}
.jiadiantuyou ul{
	width: 100%;
	height:100%;
	position: absolute;
	top:0;
	right: 0;
	z-index: 10;
}
.jiadiantuyou .jiadiantuyouxian{
	z-index: 100;
}
.jiadiantuyou1{
	width:234px;
	height: 300px;
	margin: 0 0 14px 14px;
	background: #fff;
	float: left;
}
.jiadiantuyou1tu{
	width: 150px;
	height: 150px;
	margin: 0 auto;
	margin-top: 34px;
}
.jiadiantuyou2{
	float: left;
	width: 234px;
	height: 143px;
	margin: 0 0 14px 14px;
	background: #fff;
}
.jiadiantuyou21{
	width: 200px;
	height: 80px;
	margin: 0 auto;
	margin-top: 32px;
}
.jiadiantuyou21zi{
	float: left;
}
.xiaomixiaogangpao{
	height: 21px;
	margin: 10px;
	line-height: 21px;
	font-size: 14px;
	color: #333;
}
.yuan199{
	color: #ff6700;
}
.xiaomixiaogangpaotu{
	float: right;
	width: 80px;
	height: 80px;
}
.liulangengd{
	margin: 30px 0 0 10px;
	font-size: 18px;
	color: #333;
}
.remen{
	margin: 10px 0 0 10px;
	font-size: 12px;
}
.gengduojiantou{
	font-size: 45px !important;
	color: #ff6700;
	line-height: 80px;
	text-align: center;
}
.zhinengtu{
	width: 1226px;
}
.zhineng1{
	margin-left: 0;
	float: left;
}
.tuijian{
	margin-top: 60px;
}






.repinchanping{
	width: 1226px;
	height: 429px;
	margin: 0 auto;
}
.reping{
	float: left;
	width: 296px;
	height: 415px;
	margin: 0 0 14px 14px;
	background: #fff;
}
.reping1{
	margin-left: 0;
}
.rementu{
	width: 296px;
	height: 220px;
}
.repingzi{
	width: 240px;
	height: 96px;
	margin: 0 auto;
	margin-top: 28px;
	font-size: 14px;
	color: #333;
}
.laiziwho{
	width: 240px;
	margin: 0 auto;
	margin-bottom: 18px;
	font-size: 12px;
	color: #b0b0b0;
	text-align: left;
}
.rechanping{
	width: 240px;
	margin: 0 auto;
	font-size: 14px;
	color: #333;
}
.repingmingcheng{
	float: left;
}
.repingshuxian{
	float: left;
	margin: 0 4px;
	color: #b0b0b0;
}
.repingjiage{
	float: left;
	color: #ff6700;
}
.neirongtukuang{
	height:420px;
}
.neirong{
	height: 420px;
	border-top: 1px solid #ff6700;
	color: #ff6700;
}
.neirongzi1{
	margin-top: 45px;
	text-align: center;
}
.neirongzi11{
	font-size: 16px;

}
.neirongzi12{
	margin-top: 18px;
	font-size: 20px;
	color: #333;
}
.neirongzi13{
	width: 200px;
	margin: 0 auto;
	margin-top: 10px;
	font-size: 12px;
	color: #b0b0b0;
}
.neirongzi14{
	margin-top: 10px;
	color: #333;
}
.neirongzi15{
	width: 216px;
	height: 154px;
	margin: 0 auto;
	margin-top: 15px;
}
.neirongzi16{
	margin: 0 auto;
	height: 30px;
	margin: 10px 100px;
	overflow: hidden;
}
.neirongzi17{
	margin: 0 auto;
}
.neirongzi161{
	float: left;
	width: 6px;
	height: 6px;
	border-radius: 50%;
	background: #333;
	margin: 0 10px;
}
.neirongzi162{
	background: #fff;
	border: 2px solid #ff6700;
}
.neirong1{
	margin-left: 14px;
}
.repinga{
	border-top: 1px solid #83c44e;
	color: #83c44e;
}
.repingb{
	border-top: 1px solid #e53935;
	color: #e53935;
}
.repingc{
	border-top: 1px solid #2196f3;
	color: #2196f3;
}
.shipinquanbu{
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin:14px 0 0 8px;
	background: #b0b0b0;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 20px;
}
.shipinkuang{
	height: 285px;
}
.shipinkuang1{
	height: 285px;
	width: 296px;
	background: #fff;
	float: left;
}
.shipin1{
	width: 296px;
	height: 180px;
}
.shipin11{
	position: relative;
	left: 0;
	top: 0;
}
.shipin12{
	width: 32px;
	height: 20px;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.6);
	border: 2px solid #fff;
	font-size: 20px;
	color: #fff;
	line-height: 16px;
	text-align: center;
	position: absolute;
	left: 20px;
	bottom: 10px;
}
.shipin2{
	margin: 0 auto;
	margin-top: 28px;
	font-size: 14px;
	text-align: center;
	color: #333;
}
.shipin3{
	margin-top: 10px;
	font-size: 12px;
	color: #b0b0b0;
}
.shipinkuang2{
	margin-left: 14px;
}
.weibu{
	width: 100%;
	height: 
	background: #fff;
}
.weibukuang{
	width: 1226px;
	margin: 0 auto;
	overflow: hidden;
}
.weibu1{
	width: 1226px;
	font-size: 16px;
	color: #616161;
	margin-top: 0;
}
.weibu11{
	width: 245px;
	height: 25px;
	margin: 28px 0;
	text-align: center;
	line-height: 25px;
	border-right: 1px solid #616161;
	float: left;
}
.weibu111{
	font-size: 24px !important;
}
.weibu12{
	border: 0;
}
.weibu2{
	width: 1226px;
	height: 112px;
	margin: 40px 0;
}
.weibu21{
	width: 981px;
	float: left;
	border-right: 1px solid #757575;
}
.weibu211{
	width: 163px;
	float: left;
}
.weibu2111{
	color: #424242;
	font-size: 14px;
	margin-bottom: 26px;
}
.weibu2112{
	height: 18px;
	margin-top: 10px;
	color: #757575;
	font-size: 12px;
	line-height: 18px;
}
.weibu22{
	width: 245px;
	float: right;
	text-align: center;
}
.weibu221{
	color: #ff6700;
	font-size: 22px;
	margin-bottom: 5px;
}
.weibu222{
	color: #616161;
	font-size: 12px;
	margin-bottom: 6px;
}
.weibu223{
	width: 120px;
	height: 30px;
	margin: 0 auto;
	margin-top: 16px;
	border: 1px solid #ff6700;
	color: #ff6700;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
}
.dibu{
	width: 100%;
	height: 166px;
	background: #f5f5f5;
	float: left;
}
.dibukuang{
	width: 1226px;
	height: 106px;
	margin: 0 auto;
	margin-top: 30px;
}
.dibus{
	width: 1226px;
	height: 57px;
}
.dibu1{
	height: 57px;
	float: left;
}
.dibu11{
	width: 57px;
	height: 57px;
	margin-right: 10px;
	float: left;
}
.dibu2{
	float: left;
	font-size: 12px;
	color: #757575;
}
.dibu22{
	margin: 0 -5px;
}
.dibu3{
	height: 36px;
	width: 640px;
	margin: 8px;
	margin-top: 20px;
	font-size: 12px;
	color: #b0b0b0;
	line-height: 18px;
}
.dibu4{
	float: right;
}
.dibu41{
	width: 85px;
	height: 28px;
	margin-left: 7px;
	float: left;
}
.dibu5{
	width: 267px;
	height: 19px;
	margin: 0 auto;
	margin-top: 30px;
}
.dan1 a{
	color: #212121;
}
.jiadianyouzi:hover{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
	cursor: pointer;
}
.jiadiantuzuo{
	transition: all 0.8s ease;
}
.jiadiantuzuo:hover{
	transform: translate(0, -10px);
	box-shadow: 0 0 5px 5px #e3e3e3;
}
.jiadiantuyou1{
	position: relative;
	overflow: hidden;
	transition: all 0.8s ease;
}
.jiadianpingjia{
	width: 234px;
	height: 90px;
	background: #ff6700;
	text-align: center;
	opacity: 0;
	font-size: 12px;
	position:absolute;
	bottom: -50px;
	transition: all 0.8s ease;
}
.jiadianpingjia1{
	width: 150px;
	height: 50px;
	margin: 0 auto;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #fff;

}
.jiadianpingjia2{
	color: #b0b0b0;
}
.jiadiantuyou1:hover{
	transform: translate(0, -10px);
	box-shadow: 0 0 5px 5px #e3e3e3;
}
.jiadiantuyou1:hover .jiadianpingjia{
	bottom: 0px;
	opacity: 1;
}
.jiadiantuyou2{
	transition: all 0.8s ease;
}
.jiadiantuyou2:hover{
	transform: translate(0, -10px);
	box-shadow: 0 0 5px 5px #e3e3e3;
}
.reping a{
	color: #333;
}
.reping{
	transition: all 0.8s ease;
}
.reping:hover{
	transform: translate(0, -10px);
	box-shadow: 0 0 5px 5px #e3e3e3;
}
.neirongzi161{
	transition: all 0.8s ease;
}
.neirongzi161:hover{
	background: #fff;
	border: 2px solid #ff6700;
	cursor: pointer;
}
.neirongzi1{
	position: relative;
}
.neironghuadong{
	opacity: 0;
	transition: all 0.8s ease;
}
.neironghuadong1{
	width: 24px;
	height: 48px;
	color: #fff;
	background: #b0b0b0;
	text-align: center;
	line-height: 48px;
	font-size: 18px;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
}
.neironghuadong11{
	left: 0;
}
.neironghuadong12{
	right: 0;
}
.neirongzi1:hover .neironghuadong{
	opacity: 0.8;
}
.neironghuadong1:hover{
	background: #757575;
}
.jiadianyou:hover .shipinquanbu{
	color: #fff;
	background: #ff6700;
}
.shipinkuang1{
	transition: all 0.8s ease;
}
.shipinkuang1:hover{
	transform: translate(0, -10px);
	box-shadow: 0 0 5px 5px #e3e3e3;
}
.shipin11:hover .shipin12{
	background: #ff6700;
	border: 2px solid #ff6700;
}
.dibu a{
	color:#757575;
}
.dibu a:hover{
	color: #ff6700;
}
.weibu2112:hover{
	color: #ff6700;
}
.weibu223:hover{
	background: #ff6700;
	color: #fff;
}
.weibu111{
	color: #757575;
}
.weibu112{
	color: #757575;
}
.weibu11:hover .weibu111{
	color: #ff6700;
}
.weibu11:hover .weibu112{
	color: #ff6700;
}
.jiadiantuyou1:hover{
	cursor: pointer;
}
.jiadiantuyou2:hover{
	cursor: pointer;
}
.pleft{
	width:30px;
	height: 210px; 
	position: fixed;
	left: 10px;
	top: 50%;
	margin-top: -105px;
	z-index: 999;
}
.pleft ul li{
	width: 30px;
	height: 30px;
	border: 1px solid #000;
	margin-top: -1px;
	text-align: center;
	cursor: pointer;
}
.search{
	width: 100%;
	height: 50px;
	background: skyblue;
	position: fixed;
	left: 0;
	top: -50px;
	z-index: 999;
	transition: 0.5s;
}