
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1503210701125'); /* IE9*/
  src: url('iconfont.eot?t=1503210701125#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1503210701125') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1503210701125') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1503210701125#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouji:before { 
  color: red;
  content: "\e504"; 

}

.icon-aixin:before { 
  display: block;
  color: red;
  content: "\e507";
  bottom: 0;
  line-height: 16px;
   }

.icon-gouwuchekong:before { 
  color: red;
  content: "\e502"; }

