*{
    margin:0;
    padding:0;
}
main{
    width: 600px;
    height:auto;
    padding:30px 20px;
    margin:0 auto;
    border:1px solid #000;
    border-radius:5px;
}
td{
    padding:5px 12px;
    text-align: center;
    /* border:1px solid #000;
    border-collapse:collapse; */
}
button{
    width:45px;
    height:30px;
    outline:none;
    border:none;
    background:skyblue;
    border-radius:5px;
}
.addbtn{
    float:right;
    margin-right: 16px;
    margin-top: 7px;
}
